<div class="row">
 <%= link_to profile_path(current_user), class: "user-card-link", style: "color: #ffffff;" do %>
      <i class="fa-solid fa-arrow-left-long" style="position: absolute; top: 20px; left: 20px;"></i>
    <% end %>
  </div>  
<div class="page-container">
<%= form_for @user, url: user_path(@user), html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "large-label" %><br>
    <%= f.text_field :name, class: "large-input" %>
  </div>
  <div class="field">
    <%= f.label :age, class: "large-label" %><br>
    <%= f.number_field :age, class: "large-input" %>
  </div>
  <div class="field">
    <%= f.label :description, class: "large-label" %><br>
    <%= f.text_area :description, class: "large-textarea"  %>
  </div>
  <div class="field">
    <%= f.label :photo, class: "large-label" %><br>
    <%= f.file_field :photo, class: "large-input" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

