<div class="container">
  <div>
    <%= form_tag movies_path, method: :get, class: "d-flex position-relative" do %>
  <%= text_field_tag :query, params[:query], class: "form-control search-form-index", placeholder: "Search movies", style: "padding-right: 60px;" %>
  <button type="submit" class="btn position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);">
    <i class="fa-solid fa-magnifying-glass" style="color: rgba(255, 255, 255, 0.3);"></i>
  </button>
<% end %>
  </div>
  <main class="mb-5">
    <h1 style="padding-left: 18px; margin-top: 30px;">Movies on Theater</h1>
    <% if @movies.present? %>
      <% @movies.each do |movie| %>
        <%= link_to movie_path(movie) do %>
        <div class="movie row">
          <div class="movie-poster">
            <% if movie.photo_url.present? %>
              <%= image_tag movie.photo_url, alt: "Movie Poster", class: "movie-poster" %>
            <% else %>
              <%= image_tag 'home.png', alt: "Default Movie Poster", class: "movie-poster" %>
            <% end %>
        <% end %>
            <div class="movie-info row">
              <div class="col d-flex align-items-center mt-1">
                <i class="fas fa-calendar-alt fa-xs"></i>
                <p>&nbsp;<%= movie.end_date %></p>
              </div>
            </div>
            <div class="mt-1 movie-rating row">
              <div class="col d-flex align-items-center">
                <i class="fas fa-star" style="color: #c69d0c;"></i>
                <p>&nbsp;<%= movie.rating %>/5</p>
              </div>
                <div data-controller="like-movies"
                  data-like-movies-movie-id-value="<%= movie.id %>"
                  data-like-movies-liked-value="<%= current_user.liked_movies.exists?(movie_id: movie.id) %>">
                  <div class="like-icon" data-action="click->like-movies#toggle">
                    <i class="<%= current_user.liked_movies.exists?(movie_id: movie.id) ? 'fas' : 'far' %> fa-heart" style="position: absolute; top: 380px; right:20px"></i>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="container costum-line"></div>
      <% end %>
    <% else %>
      <p>No movies available</p>
    <% end %>
    <%= link_to "Confirm Selection", faker_path, class: 'confirm-button' %>
  </main>
</div>
