
<%= render 'shared/navbar' %>
<main>
  <% if @movies.present? %>
    <% @movies.each do |movie| %>
      <div class="movie">
        <div class="movie-image">
          <%= link_to movie_path(movie) do %>
            <!-- Check if the movie has an attached photo, and use the correct image_tag -->
            <% if movie.photo_url.present? %>
              <%= image_tag movie.photo_url, alt: "Movie Poster", class: "movie-poster" %>
            <% else %>
              <%= image_tag 'home.png', alt: "Default Movie Poster", class: "movie-poster" %>
            <% end %>
          <% end %>
          <!-- Like icon positioned outside the movie-image container -->
          <div class="like-icon">

            <%= simple_form_for [movie, LikedMovie.new] do |f| %>
              <button type="submit" class="btn text-warning">
                <i class="fas fa-heart"></i>
              </button>
            <% end %>
            <%= "This was liked" if LikedMovie.find_by(movie_id: movie.id, user_id: current_user.id) %>
          </div>

        </div>
        <div class="movie-details">
          <!-- Date on the left -->
          <div class="movie-info">
            <i class="fas fa-calendar-alt"></i>
            <p>DD/MM/YYYY</p>
          </div>
          <!-- Rating on the right -->
          <div class="movie-info">
            <i class="fas fa-star"></i>
            <p><%= movie.rating %></p>
          </div>
        </div>
        <h3><%= movie.title %></h3>
      </div>
    <% end %>
  <% else %>
  <p>No movies available</p>
  <% end %>
</main>
