
<%= render 'shared/navbar' %>
<main>
  <% @movies.each do |movie| %>
    <div class="movie">
      <div class="movie-image">
        <%= link_to movie_path(movie) do %>
          <!-- Check if the movie has an attached photo, and use the correct image_tag -->
          <% if movie.photo.attached? %>
            <%= image_tag url_for(movie.photo), alt: "Movie Poster", class: "movie-poster" %>
          <% else %>
            <%= image_tag 'default_poster.jpg', alt: "Default Movie Poster", class: "movie-poster" %>
          <% end %>
        <% end %>
        <!-- Like icon positioned outside the movie-image container -->
        </div>
      </div>
      <div class="movie-details">
        <!-- Date on the left -->
        <div class="movie-info">
          <i class="fas fa-calendar-alt"></i>
          <p><%= movie.end_date.strftime("%B %d, %Y") %></p>
        </div>
        <!-- Rating on the right -->
        <div class="movie-info">
          <i class="fas fa-star"></i>
          <p><%= movie.rating %></p>
        </div>
      </div>
      <h3><%= movie.title %></h3>
    </div>
  <% end %>
<button class="confirm-button">Confirm Selection</button>
</main>




<script>
document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('.like-button').forEach(function(button) {
    button.addEventListener('click', function(event) {
      event.preventDefault(); // Prevent default link behavior
      var movieId = this.dataset.id;
      var csrfToken = document.querySelector("meta[name=csrf-token]").content;

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/movies/' + movieId + '/toggle_favorite', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('X-CSRF-Token', csrfToken);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            // Request was successful
            console.log('Request successful');
            var likeButton = document.getElementById('like-button');
            likeButton.classList.toggle('red');
          } else {
            // Request failed
            console.error('Request failed with status:', xhr.status);
          }
        }
      };
      xhr.send();
    });
  });
});
</script>
