<div class="movie-container">
  <!-- Like icon container -->
   <div data-controller="like-movies"
            data-like-movies-movie-id-value="<%= @movie.id %>"
            data-like-movies-liked-value="<%= current_user.liked_movies.exists?(movie_id: @movie.id) %>">
          <div class="like-icon" data-action="click->like-movies#toggle">
            <i class="<%= current_user.liked_movies.exists?(movie_id: @movie.id) ? 'fas' : 'far' %> fa-heart"></i>
            <%# <%= simple_form_for [movie, LikedMovie.new] do |f| %>
              <%# <button type="submit" class="btn text-warning"> %>
                <%# <i class="fas fa-heart"></i> %>
              <%# </button> %>
            <%# <% end %>
          </div>
      </div>
  <iframe src="<%= @movie.trailer %>" frameborder="0" allowfullscreen></iframe>
  <div class="movie-details">
    <h1><%= @movie.title %></h1>
    <p><%= @movie.synopsis %></p>
    <div class="ratings-date">
      <p>Rating: <%= @movie.rating %></p>
      <%# <p>End Date: <%= @movie.end_date.strftime("%B %d, %Y") %>
    </div>
  </div>
</div>
<%= link_to "Back to Movies", movies_path, class: 'confirm-button' %>
 <%# <button class="back-button">Go Back</button> %>
 <%# <button class="confirm-button">Confirm Selection</button> %>
