<div class="movie-container">
  <!-- Like icon container -->
  <div class="like-icon">
    <!-- Font Awesome like icon -->
    <%# <i class="fas fa-heart"></i> %>
  </div>
 <% if @movie.trailer.present? %>
  <iframe src="<%= @movie.trailer %>" frameborder="0" allowfullscreen muted allow="autoplay"></iframe>
  <% else %>
    <!-- If movie trailer is not available, display the movie image -->
    <div class="movie-image">
      <%= link_to movie_path(@movie) do %>
        <% if @movie.photo_url.present? %>
          <%= image_tag @movie.photo_url, alt: "Movie Poster", class: "movie-poster" %>
        <% else %>
          <%= image_tag 'home.png', alt: "Default Movie Poster", class: "movie-poster" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="movie-details">
    <h1><%= @movie.title %></h1>
    <p><%= @movie.synopsis %></p>
    <div class="ratings-date">
      <p>Rating: <%= @movie.rating %></p>
      <div class="like-icon">
        <%= simple_form_for [@movie, LikedMovie.new] do |f| %>
          <button type="submit" class="btn text-warning">
            <i class="fas fa-heart"></i>
          </button>
        <% end %>
        <%= "This was liked" if LikedMovie.find_by(movie_id: @movie.id, user_id: current_user.id) %>
      </div>
      <%# <p>End Date: <%= @movie.end_date.strftime("%B %d, %Y") %>
    </div>
  </div>
</div>
<%= link_to "Back to Movies", movies_path, class: 'confirm-button' %>
<%= javascript_include_tag 'like-button', 'data-turbolinks-track': 'reload' %>

 <%# <button class="back-button">Go Back</button> %>
 <%# <button class="confirm-button">Confirm Selection</button> %>
