<!-- app/views/users/new.html.erb -->

<%= form_with(model: @user, url: users_path, local: true, multipart: true) do |form| %>
  <div class="card">
    <div class="form-group">
      <%= form.label :email, "What is your email?", class: "form-label" %>
      <%= form.email_field :email, class: "form-input", placeholder: "Enter your email" %>
    </div>
    <div class="form-group">
      <%= form.label :password, "What is your password?", class: "form-label" %>
      <%= form.password_field :password, class: "form-input", placeholder: "Enter your password" %>
      <div class="form-group">
  <%= form.label :password_confirmation, "Confirm your password", class: "form-label" %>
  <%= form.password_field :password_confirmation, id: :user_password_confirmation, class: "form-input", placeholder: "Confirm your password" %>
</div>
    </div>
    <div class="form-group">
      <%= form.label :password_confirmation, "Confirm your password", class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-input", placeholder: "Confirm your password" %>
    </div>
    <div class="form-group">
      <%= form.label :image, "Profile Image", class: "form-label" %>
      <%= form.file_field :image, class: "form-input" %>
    </div>
    <div class="form-group">
      <%= form.label :description, "Describe yourself", class: "form-label" %>
      <%= form.text_area :description, class: "form-input", placeholder: "A bit about you" %>
    </div>
    <%= form.submit "

<% end %>
