<h1>List of Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.avatar.attached? %>
            <%= cl_image_tag user.avatar.key(resize: '100x100') %>
          <% else %>
            <!-- Default image or placeholder -->
            <%= cl_image_tag 'default-avatar.png', size: '100x100' %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.age %></td>
        <td><%= user.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
