<div class="profiles-card">
  <div class="row">
    <%= link_to users_path, class: "user-card-link", style: "color: #ffffff;" do %>
      <i class="fa-solid fa-arrow-left-long" style="position: absolute; top: 20px; left: 20px;"></i>
    <% end %>
  </div>
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: 'profiles-img' %>
  <% else %>
    <% random_avatar_url = "https://picsum.photos/500/500?random" %>
    <%= image_tag random_avatar_url, class: 'profiles-img' %>
  <% end %>
  <div class="users-container" style="position: absolute;">
    <h1 style="font-size: 50px;"><%= @user.name %></h1>
    <div class="d-flex">
      <p style="font-size: 30px;"><%= @user.age %></p>
      <%# <%= render 'matches/heart-show', user: @user %>
    </div>
  </div>
</div>
<div class="container mt-3" data-controller="users-description">
  <button class="btn btn-description" data-action="click->users-description#hideContent">Description</button>
  <p data-users-description-target="content" style="color: #bebfc1; padding: 10px; line-height: 1.8;"><%= @user.description %></p>
</div>
<div class="container likes-movies">
  <h2>Liked Movies</h2>
  <div class="cards row col-12 mt-4">
    <% @user.liked_movies.each do |liked_movie| %>
      <div class="card-category">
        <div class="card-image" style="background-image: url(<%= liked_movie.movie.photo_url %>);"></div>
        <p style="font-size: 13px; margin-top: 5px"><%= liked_movie.movie.title %></p>
      </div>
    <% end %>
  </div>
</div>
