<div class="navbar-container">
  <div class="navbar">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto flex-row">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to profile_path(current_user), class: "nav-link" do %>
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, crop: :fill, class: 'profile-img-icon' %>
                 <% else %>
                  <%= image_tag("default-avatar.png", size: "30x30", class: 'profile-img-icon') %>
               <% end %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to movies_path, class: "nav-link" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
            <li class="nav-item">
    <%= link_to chats_path, class: "nav-link" do %>
      <i class="fa-regular fa-message"></i>
    <% end %>
 </li>
 <li class="nav-item">
  <%= link_to users_path, class: "nav-link" do %>
  <i class="fa-solid fa-users"></i>
  <% end %>
 </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <i class="fa-solid fa-right-from-bracket"></i>
              <% end %>
            </li>
          <% else %>
             <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
           <% end %>
           </ul>
    </div>
  </div>
</div>

<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%# <li class="nav-item active"> %>
            <%# <%= link_to "My Profile", profile_path, class: "nav-link" %>
          <%# <li class="nav-item active"> %>
            <%# <%= link_to "My Chats", chats_path, class: "nav-link" %>
          <%# </li> %>
          <%# <li class="nav-item"> %>
            <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          <%# </li> %>
        <%# <% else %>
          <%# <li class="nav-item"> %>
            <%# <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%# </li> %>
        <%# <% end %>
      <%# </ul> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
<%#  %>
