<div class="container">
  <h1 class="my-profile-heading">My Profile</h1>
  <div class="profile-card">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key,  class: 'profile-img' %>
    <% else %>
      <%= image_tag("default-avatar1.png", class: 'profile-img') %>
    <% end %>
    <div class="user-container" style="position: absolute; bottom: 50px">
      <h2><%= @user.name %></h2>
      <div class="d-flex align-items-center">
        <p><%= @user.age %></p>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <h2>Description:</h2>
    <p><%= @user.description %></p>
  </div>
  <div class="container">
    <h2>Liked Movies:</h2>
    <div class="cards row col-12 mt-4">
    </div>
  </div>
    <div class="d-flex justify-content-end mt-3">
     <%= link_to 'Edit My Profile', edit_user_path(@user), class: "btn log-in mr-2" %>
    <%= link_to 'Back', users_path, class: "btn log-in" %>
  </div>
</div>
