<div class="row">
  <%= link_to movies_path, class: "user-card-link", style: "color: #ffffff;" do %>
    <i class="fa-solid fa-arrow-left-long" style="position: absolute; top: 20px; left: 20px;"></i>
  <% end %>
</div>
<div class="container card-container">
  <%= render 'shared/modal' %>
  <%= form_tag users_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query, params[:query], class: "form-control search-form", placeholder: "Search profiles" %>
    <button type="submit" class="btn" style="position: absolute; right: 40px; top: 50px;">
      <i class="fa-solid fa-magnifying-glass" style="color: rgba(255, 255, 255, 0.3);"></i>
    </button>
  <% end %>
  <% @users.each do |user| %>
    <%= link_to user_path(user), class: "user-card-link" do %>
      <div class="card-product my-2">
        <div class="card-product-img">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key %>
          <% else %>
            <% random_avatar_url = "https://picsum.photos/50?random=#{user.id}" %>
            <%= image_tag random_avatar_url %>
          <% end %>
        </div>
    <% end %>
        <div class="d-flex align-items-center">
          <div class="card-product-infos">
            <h2 id="user-list"><%= user.name %></h2>
            <p class="description-limit"><%= user.description %><br>
              <%= link_to user_path(user), class: "user-card-link", style: "color: #ffa2cb;" do %>
              see more...
              <% end %>
            </p>
          </div>
          <%= render 'matches/heart', user: user %>
        </div>
    </div>
  <% end %>
</div>
