<!DOCTYPE html>
<html>
  <head>
    <title>CinemaBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZots9eIwg7w4SfkrikurzfrxXV6XQZpFxxHpbrAGC4Zhv2mfXRC9tE9ERFD9A7" crossorigin="anonymous"> %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% unless @hide_navbar %>
    <%= render 'shared/navbar' %>
  <% end %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
